/*.smartphone{
    width: 50rem;
    height: 50rem;
    background-color:gray;
    margin: 2.5em;
}*/

.smartphone{
    width: 200px;
    height: 100px;
    justify-content: center;
    position: inherit;
    background: red;
}
.main-menu-hub{
justify-content: center;
}
.apps{
display: flex;
flex-wrap: wrap;
flex-direction: row ;  
}
.img{
    margin: 200rem;
    width: 200px;
    height: 200px;
}